@mixin respond($breakpoint) {
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 156em) {
      @content;
    }
  } //  2500px

  @if $breakpoint == laptop {
    @media only screen and (max-width: 120em) {
      @content;
    }
  } //  1920px
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 80em) {
      @content;
    }
  } // 1280px

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  } //900px

  @if $breakpoint == phone {
    @media only screen and (max-width: 43.75em) {
      @content;
    }
  } // 700px

  @if $breakpoint == phoneS {
    @media screen and (max-width: 22.5em) {
      @content;
    }
  }
}
