.form-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.loginForm {
  display: grid;
  grid-template-columns: 20rem;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  row-gap: 2rem;
  background-color: #333a4b;
  width: 40rem;
  height: 36rem;
  padding: 2rem;

  &__heading {
    font-size: 3rem;
    text-align: center;
  }

  &__user-container {
    grid-row: 2/3;
  }
  &__password-container {
    grid-row: 3/4;
  }

  &__label {
    font-size: 1.6rem;
  }

  &__input {
    height: 3rem;
    margin-top: 1rem;
    width: 100%;
  }
  &__button {
    background-color: #0d1117;
    color: white;
    border-radius: 4px;
    height: 4rem;
    margin-top: 2rem;
  }
}
