.form-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 40rem;
  height: auto;
  min-height: 36rem;
  padding: 2rem;
  background-color: var(--primary);
  border-radius: 8px; /* Added for better look */

  & > * {
    width: 20rem;
  }

  &__heading {
    font-size: 3rem;
    text-align: center;
  }

  &__label {
    font-size: 1.6rem;
  }

  &__input {
    height: 3rem;
    margin-top: 1rem;
    width: 100%;
  }
  &__button {
    background-color: #0d1117;
    color: white;
    border-radius: 4px;
    height: 4rem;
    margin-top: 2rem;
    width: 20rem; /* Explicitly set width to match others */
  }
}
